/* components/Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50vh;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .modal button {
    margin-right: 10px;
  }
  
  .modal textarea {
    width: 50vh;
    height: 10vh;
  }