/* components/Modal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Garantir que o modal fique acima de outros elementos */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 60vh; /* Aumenta a largura do modal */
  max-height: 80vh; /* Limita a altura para evitar overflow na tela */
  overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo for maior */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma leve sombra para destacar o modal */
}

.modal h2 {
  margin-top: 0;
}

.modal ul {
  list-style: none;
  padding: 0;
}

.modal li {
  margin-bottom: 15px;
}

.modal button {
  margin-right: 10px;
}

.modal input, 
.modal textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.modal textarea {
  height: 10vh;
}

.create {
  margin: 20px;
  padding: 10px 10px;
  font-size: medium;
  background-color: rgb(82, 211, 82);
  color: #fff;
  border-radius: 10px;
}

.create:hover {
  background-color: green;
  cursor: pointer;
}

.cancel {
  padding: 10px 10px;
  font-size: medium;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ff4d4d;
  color: white;
  border: none;
}

.cancel:hover {
  background-color: #ff1a1a;
}

.edit {
  padding: 10px 10px;
  color: white;
  font-size: medium;
  background-color: rgb(87, 87, 235);
  border-radius: 10px;
}

.edit:hover {
  background-color: blue;
  cursor: pointer;
}
